<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>SkillSwapHub</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
<div th:replace="~{common/header::header}"></div>
<div>
    <div style="background-image: url('/images/body-bg.png'); background-size: cover; height: 800px; ">
        <div class=" container-width container p-4" >
        <div class="row">
        <div class="col-md-7 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Sign UP</h3>
<!--Message shown after successful registration-->
                    <div th:if="${session.message}"
                         th:classappend="${session.message}" class="alert alert-success"
                         role="alert">

                        <p th:text="${session.message}"></p>
                    </div>

                   <form th:action="@{/register}" th:object="${user}" method="post">

                        <div class="form-body row mb-3">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text"  class="form-control" id="name" th:field="*{name}" placeholder="Enter your name" >
                            </div>
                        </div>
                        <div class="form-body row mb-3">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email"  class="form-control" id="email" th:field="*{email}" placeholder="Enter your email" required>
                            </div>
                        </div>
                        <div class="form-body row mb-3">
                            <label for="dob" class="col-sm-2 col-form-label">Date of Birth</label>
                            <div class="col-sm-10">
                                <input type="date"  class="form-control" id="dob" th:field="*{dob}">
                            </div>
                        </div>

                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"  id="male" th:field="*{gender}" value="Male">
                                    <label class="form-check-label" for="male">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" th:field="*{gender}" id="female" value="Female">
                                    <label class="form-check-label" for="female">Female</label>
                                </div>
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">-->
<!--                                    <label class="form-check-label" for="gridRadios2">-->
<!--                                        Female-->
<!--                                    </label>-->
<!--                                </div>-->

                            </div>
                        </fieldset>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" th:field="*{password}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">
                                        I accept <a href="#">Terms and Conditions</a>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary">SIGN UP</button>
                        </div>
<!--                        <div class="d-flex justify-content-center align-items-center" >-->
<!--                            <a th:href="@{/signUpForm}">-->
<!--                            <button   class=" custom-button custom-button:hover">SIGN UP</button>-->
<!--                            </a>-->
<!--                        </div>-->

                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
 </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>